Repository slangenbach/practical-deep-learning-for-coders: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, nbqa-ruff, black, nbqa-black, nbconvert

ruff:
  name: ruff
  stages:
  - commit
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

nbqa-ruff:
  name: nbqa-ruff
  entry: nbqa ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

black:
  name: black
  stages:
  - commit
  entry: black
  language: system

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system

nbconvert:
  name: nbconvert
  stages:
  - commit
  entry: jupyter nbconvert
  args:
  - --clear-output
  - --inplace
  language: system

Add notebook for lesson 1
  homework-lesson-01.ipynb
  utils.py
Due: ruff, nbqa-ruff, black, nbqa-black, nbconvert

Update ignores
  .gitignore
Due: none

Update workspace and conda env
  conda_env.yaml
  fastai22.code-workspace
Due: none

Add ignores
  .gitignore
Due: none

Rename notebooks
  notebooks/01-classifying-chemical-and-power-pants.ipynb
Due: nbqa-ruff, nbqa-black, nbconvert

Add NLP notebook
  notebooks/04-nlp-using-transformers.ipynb
Due: nbqa-ruff, nbqa-black, nbconvert

Clean up workspace and env
  .gitignore
  conda_env.yaml
  notebooks/01-classifying-chemical-and-power-pants.ipynb
  notebooks/04-nlp-using-transformers.ipynb
  pdl4c.code-workspace
  utils.py
Due: ruff, nbqa-ruff, black, nbqa-black, nbconvert

Add submission to Kaggle
  notebooks/04-nlp-using-transformers.ipynb
Due: nbqa-ruff, nbqa-black, nbconvert

Add models from scratch notebook
  notebooks/05-models-from-scratch.ipynb
Due: nbqa-ruff, nbqa-black, nbconvert

Add notebook for lesson 8, 9 and 10
  notebooks/08-classifying-rice-deseases.ipynb
Due: nbqa-ruff, nbqa-black, nbconvert

Path conditions:
  ruff: any of: \.py$
  nbqa-ruff: any of: \.ipynb$
  black: any of: \.py$
  nbqa-black: any of: \.ipynb$
  nbconvert: any of: \.ipynb$
